h1, h2, h3, h4, h5, h6 {
    font-family: $theme-text-heading-font;
    font-weight: 600;
    color: $theme-dark-cyan-color;
    text-align: center;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

@include media-breakpoint-up($screen-sm) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.031rem;
    }
}
